POSTGRES_SUPERUSER=warehouse_user
POSTGRES_SUPERPASS=your_strong_password
POSTGRES_DEFAULT_DB=warehouse

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=your_strong_password

STORAGE_ENDPOINT_URL=http://minio:9000
MLFLOW_S3_ENDPOINT_URL=${STORAGE_ENDPOINT_URL}
MLFLOW_DB=mlflow
MLFLOW_DB_USER=mlflow_user
MLFLOW_DB_PASS=your_strong_password
GIT_PYTHON_REFRESH=quiet

DATASET_NAME=iris
DATASET_VERSION=v1
FEATURE_TABLE=features.iris_features
TARGET_COL=target
DROP_COLUMNS=row_id
MLFLOW_EXPERIMENT=iris
REGISTERED_MODEL_NAME=IrisClassifier
EVAL_MODEL_URI=models:/IrisClassifier/1
MODEL_URI=models:/IrisClassifier/1
IRIS_API_PORT=8000



GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=your_strong_password
